html {
  text-align: center;
  margin:0;
  padding:0;
  overflow-x:hidden;
  width:100vw;
  height:100vh;
}

body{
  height:100%
}

.StudentClass {
  margin: 0 auto;
  width: 100%;
  max-width:100vw;

  h1 {
    font-size: 3vw;
  }

  #classStart {
    font-style: italic;
  }
}

@media only screen and (max-width: 600px) {
  #root .grid {
    padding: 0.5vw;
    grid-template-columns: repeat(1, 1fr); /* One item per row */
    row-gap: 6vh; /* Space between rows */
    justify-content: center;
    margin: auto;
  }
}

@media only screen and (min-width: 800px){
  #root .grid {
    display: grid;
    padding: 1.5vw;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 2fr);
    /* Each column now takes up more space */
    justify-content: center;
    margin: auto;
    column-gap: 1.5vw;
    row-gap: 5vh;
    width: 90%;
    max-width: 100%;
    grid-column: span 2;
  }
}