html {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: vw;
}

.StudentClass {
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;

  h1 {
    font-size: 3vw;
  }

  .grid {
    display: grid;
    padding: 1.5vw;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 2fr);
    /* Each column now takes up more space */
    justify-content: center;
    margin: auto;
    column-gap: 1.5vw;
    row-gap: 5vh;
    width: 90%;
    max-width: 100%;
    grid-column: span 2;
  }

  #classStart {
    font-style: italic;
  }
}