.Module{
    display:inline-block;
    background-color:#2A92Ef;
    margin:auto;
    text-align:center;
    width:fit-content;
    padding:1.5rem;
    box-shadow: 2px 1vh 1vh 1px rgb(0 0 0 / 20%);
    max-width:90%;
  
    #description{
      font-style: italic;
    }
  
    ul{
      padding: 0;
      list-style-type: none;
      margin:auto;
      text-align:center;
  
      li{
        padding:0.5rem;
      }
      li:active{
        color:white;
      }
      li:hover{
        cursor:pointer;
      }
      a{
        color:white;
      }
    }
  }